$primary-color: #1F0F33;
$secondary-color: #776391;
$tertiary-color: white;
@font-face {
    font-family: myFont;
    src: url(../Rogie-jEXrO.ttf);
}
html {
    background-color: #1F0F33;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%233E003E' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23350035'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    font-family: myFont;
}
.navbar {
    background-color: $secondary-color;
    display: flex;
    border-radius: 5px;
    color: white;
    width: 100%;
    height: 10vh;
    font-size: 1.5vw;
    font-family: myFont;
    justify-content: space-evenly;
    align-items: center;
}
#juviImage {
    border: solid;
    border-radius: 5%;
    grid-column: second/end;
    grid-row: s/end;
    border-color: $tertiary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}
.aboutMe {
    margin-top: 50px;
    display: grid;
    grid-template-columns: [f] 50% [s] 50% [end];
    grid-template-rows: [first] auto [end];
    margin-bottom: 50px;
}
.main-content {
    margin-top: 20px;
    display: grid;
    text-align: center;
    margin-left: 5;
    margin-bottom: 100px;
    color:$tertiary-color
}
#traits {
    border: 2px solid $tertiary-color;
    border-radius: 10px; 
    background-color: $tertiary-color;
    padding: 10px;
    color: black;
    justify-items: center;
    align-items: center;
    justify-content: center;
    width: 29vw;
    display: flex;
    margin-top: 20px;
}
.skills {
    border: 2px solid $tertiary-color;
    grid-row: first/end;
    grid-column: s/end;
    color: white;
    text-align: center;
    border-radius: 5%;
    height: 80vh;
    width: 40vw;
    font-size: 1.65vh;
}

button {
    font-family: myFont;
    height: 8vh;
    width: 12vw;
    background: transparent;
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
    border: 2px solid $tertiary-color;
    outline: none;
    color: black;
    cursor: pointer;
    font-size: 17px;
    background-color: $tertiary-color;
    margin-top: 30px;
    min-width: 118px;
}

button:hover {
    background: $secondary-color;
    color: #ffffff;
    animation: squeeze3124 0.9s both;
    border-color: $tertiary-color;
}
.logoo img{
	animation-name: rotate;
	animation-duration: 10s;
	animation-delay: 0s;
	border-radius: 50%;
}

@keyframes rotate {
	0% {transform: rotate(0deg);}
	25% {transform: rotate(90deg);}
	50% {transform: rotate(180deg);}
	100% {transform: rotate(360deg);}
}

@keyframes squeeze3124 {
0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
}

40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
}

50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
}

65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
}

75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
}

100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
}
.card {
    width: 190px;
    height: 254px;
    margin: 0 auto;
    background-color: #011522;
    border-radius: 8px;
}
.allCards{
    display: flex;
    justify-content: space-evenly;
}
#resume1 {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
#mainJuvi {
    border: solid;
    border-radius: 5%;
    border-color: $tertiary-color;
    width: 29vw;
    height: 70vh;
    padding: 0;
    
}
.landing {
    display: grid;
    grid-template-columns: [fi] 50% [se] 50% [end];
    grid-template-rows: [fir] auto [end];
}
.main-content{
    padding-top: 20px;
    grid-column: se/end;
    grid-row: fir/end;
    padding-left: 20px;
}
#name {
    color: white;
    font-size: 5vw;
}
.textHome {
    color: white;
    grid-column: fi/se;
    grid-row: fir/end;
    padding-left: 90px;
    display: flex;
    // align-items: center;
    justify-content: center;
    animation: fadeIn 7s;
}
// PROVIDED BY https://blog.hubspot.com/website/css-fade-in
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
.quotes {
    padding: 30px;
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: $secondary-color;
    border-radius: 5px;
}
.gallery {
    display: grid;
    padding-left: 50px;
    padding-right: 100px;
    grid-template-columns: [uno] 50% [dos] 50% [end];
    grid-template-rows: [u] auto [d] auto [end];
    gap: 30px;
}
.img1 {
    grid-column: uno/dos;
    grid-row: u/d;
    border-radius: 5px;
}
.img2 {
    grid-column: dos/end;
    grid-row: u/d;
    border-radius: 5px;
}
.img3 {
    grid-column: uno/dos;
    grid-row: d/end;
    border-radius: 5px;
}
.img4 {
    grid-column: dos/end;
    grid-row: d/end;
    border-radius: 5px;
}
@media (max-width: 479px) {
    img {
        width: 100%;
    }
}
#logo {
    width: 5vw;
    height: 5vw;
    padding-top: 10px;
}

// PROVIDED BY https://www.geeksforgeeks.org/how-to-make-horizontal-line-with-words-in-the-middle-using-css/
h4 { 
    display: flex; 
    flex-direction: row; 
    font-size: 35px;
    color: bisque;
} 
  
h4:before, 
h4:after { 
    content: ""; 
    flex: 1 1; 
    border-bottom: 2px solid white; 
    margin: auto;
    margin-left: 10px; 
    margin-right: 10px; 
} 

.animated-progress {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin: 20px 10px;
    border: 1px solid rgb(189, 113, 113);
    overflow: hidden;
    position: relative;
  }
  
  .animated-progress span {
    height: 100%;
    display: block;
    width: 0;
    color: rgb(255, 251, 251);
    line-height: 30px;
    position: absolute;
    text-align: end;
    padding-right: 5px;
  }
    // PROVIDED BY https://alvarotrigo.com/blog/progress-bar-css/ 
  .progress-blue span {
    background-color: blue;
  }
  .progress-green span {
    background-color: green;
  }
  .progress-purple span {
    background-color: indigo;
  }
  .progress-red span {
    background-color: red;
  }